<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuomi.develop.dao.CapitalDevopsMapper" >
  <resultMap id="BaseResultMap" type="com.tuomi.develop.entity.CapitalDevops" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="turnover_start" property="turnoverStart" jdbcType="INTEGER" />
    <result column="turnover_end" property="turnoverEnd" jdbcType="INTEGER" />
    <result column="devops_cost" property="devopsCost" jdbcType="REAL" />
    <result column="father_id" property="fatherId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, turnover_start, turnover_end, devops_cost, father_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from capital_devops
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from capital_devops
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tuomi.develop.entity.CapitalDevops" >
    insert into capital_devops (id, turnover_start, turnover_end,
      devops_cost, father_id)
    values (#{id,jdbcType=INTEGER}, #{turnoverStart,jdbcType=INTEGER}, #{turnoverEnd,jdbcType=INTEGER},
      #{devopsCost,jdbcType=REAL}, #{fatherId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tuomi.develop.entity.CapitalDevops" >
    insert into capital_devops
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="turnoverStart != null" >
        turnover_start,
      </if>
      <if test="turnoverEnd != null" >
        turnover_end,
      </if>
      <if test="devopsCost != null" >
        devops_cost,
      </if>
      <if test="fatherId != null" >
        father_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="turnoverStart != null" >
        #{turnoverStart,jdbcType=INTEGER},
      </if>
      <if test="turnoverEnd != null" >
        #{turnoverEnd,jdbcType=INTEGER},
      </if>
      <if test="devopsCost != null" >
        #{devopsCost,jdbcType=REAL},
      </if>
      <if test="fatherId != null" >
        #{fatherId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tuomi.develop.entity.CapitalDevops" >
    update capital_devops
    <set >
      <if test="turnoverStart != null" >
        turnover_start = #{turnoverStart,jdbcType=INTEGER},
      </if>
      <if test="turnoverEnd != null" >
        turnover_end = #{turnoverEnd,jdbcType=INTEGER},
      </if>
      <if test="devopsCost != null" >
        devops_cost = #{devopsCost,jdbcType=REAL},
      </if>
      <if test="fatherId != null" >
        father_id = #{fatherId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tuomi.develop.entity.CapitalDevops" >
    update capital_devops
    set turnover_start = #{turnoverStart,jdbcType=INTEGER},
      turnover_end = #{turnoverEnd,jdbcType=INTEGER},
      devops_cost = #{devopsCost,jdbcType=REAL},
      father_id = #{fatherId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByTurnover" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from capital_devops where #{number} &gt; turnover_start and #{number} &lt;= turnover_end
  </select>
</mapper>